name: CI Pipeline
on: 
 push:
  branches: ["main"]
jobs: 
  say-hello:
    runs-on: ubuntu-latest
    steps:
    - uses: action/checkout@v4
    - name: Print Message
      run: echo "Benvenuti nella CI!"
