name: CI Pipeline
on: 
 push:
  branches: ["main"]
jobs: 
  say-hello:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Print Message
      run: echo "Benvenuti nella CI!"

  test-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install  
      - run: npm test     
