name : Hello Pipeline
on: 
 push: 
  branches: [ "node" ]
jobs: 
  test-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install
      - run: npm test  
      - run: npm run build 
      - uses: actions/upload-artifact@v4
        with:
          name: app-dist
          path: dist/ 
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          cd /home/ubuntu/my-app
          git pull
          docker compose up -d --build        